.hero{
  width: 100%;
  height: 375px;
  margin-top: 125px;
  position: relative;
}
.hero-text{
  text-align: left;
  max-width: 38%;  
}
.hero-text h1{
  font-size: 55px;
  font-weight: 500;
  color: #f4ce14;

}
.hero-text h2{
  font-size: 32px;
  font-weight: 500;
  font-family: "Markazi Text", serif;
  color: #edefee;
  padding: 5px 0;
  
}
.hero-text p{
  font-size: 20px;
  margin: 12px auto;
  color: #edefee;
  line-height: 140.6%;

}
.hero-pic{
  width: 375px;
  height: 431px;
  border-radius: 16px;
  position: absolute;
  top: -18px;
  right: 12%;

}
.btn{
  margin-top: 15px;
  
}

/*---------------media query----------*/
@media (max-width: 1260px){
  .hero-text{
    max-width: 45%;
  }
}

/*----------------------*/

@media (max-width: 1228px){
  .hero-pic{
    right: 8%;
  }
}

/*----------------------*/

@media (max-width: 1060px){
  .hero-pic{
    right: 5%;
  }
}

/*----------------------*/

@media (max-width: 1111px){
  .hero-text{
    max-width: 48%;
  }
}

/*----------------------*/

@media (max-width: 886px){
  .hero-text{
    max-width: 48%;
  }
  .hero-text h1{
    font-size: 40px;
  }
  .hero-text h2{
    font-size: 26px;
  }
  .hero-text p{
    font-size: 16px;
  }
  .hero-pic{
    width: 45%;
  }
}

/*----------------------*/

@media (max-width: 785px){
  .hero-pic{
    width: 270px;
  }
}

/*----------------------*/

@media (max-width: 604px){
  .hero{
    width: 100%;
    height: auto;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-text{
    text-align: left;
    max-width: 270px;  
  }
  .hero-pic{
    width: 270px;
    height: auto;
    margin: 10px 0 20px 0;
    align-items: center;
    justify-content: center;
    position: initial;
  }
  
  {
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  
}