.specials{
  background-color: #fff;
  
}
.specials h2{
  padding-top: 87px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.btn-2{
  position: absolute;
  right: 12%;
  top: 574px;
}

.cards{
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*---------------Media query---------------*/

@media (max-width: 1228px){
  .btn-2{
    right: 8%;
  }
}

@media(max-width: 1180px){

}

@media (max-width: 1060px){
  .btn-2{
    right: 5%;
  }
}

@media (max-width: 886px){
  .specials h2{
    font-size: 35px;
  }
}

@media (max-width: 846px){
  .cards{
    margin: 20px auto;
    flex-direction: column;
    
  }
}

@media (max-width: 604px){
  .btn-2{
    position: static;
  }
  .specials h2{
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .cards{
    margin: 5px auto;
  }
  .specials section{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}