.reservation{
  font-family: "Karla", sans-serif;
  color: #fff;
  align-self: center;

}
.reservation h2{
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 45px;
  align-self: center;
  justify-content: center;
  text-align: center;

}
.reservation p{
  font-size: 20;
  font-weight: 400;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: 18px 0 35px 0;
}
.form{
  padding: 32px;
  background-color: #edefee;
  border: 2px solid #495e57;
  border-radius: 16px;
  width: 40%;
  color: #495e57;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-left: 30%;
  margin-bottom: 50px;
}
input:invalid{
  box-shadow: 0 0 5px 1px red;
}

/*---------------media query----------------*/

@media (max-width: 785px){
  .form{
    width: 50%;
    padding: 25px;
  }
  .reservation h2{
    font-size: 35px;
    

  }
}
@media (max-width: 700px){
  .form{
    width: ;    
  }
  
}