nav {
  width: 100%;
  background: #edefee;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  
}
.logo{
  width: 219px;
  height: 76px;

}
nav ul li{
  display: inline-block;
  list-style: none;
  /* border: #000 solid 2px; */
  margin: 25px 20px;
  font-size: 20px;
  font-weight: 500;
}