@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Karla", sans-serif; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Markazi Text", serif; */
}

body {
  background: #495e57;

}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer ;
}
.container{
  padding-left: 12%;
  padding-right: 12%;
}
.btn{
  background: #f4ce14;
  color: black;
  padding: 19px 25px;
  font-size: 18px;
  border-radius: 16px;
  border-width: 0;
}