@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Karla", sans-serif; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Markazi Text", serif; */
}

body {
  background: #495e57;

}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer ;
}
.container{
  padding-left: 12%;
  padding-right: 12%;
}
.btn{
  background: #f4ce14;
  color: black;
  padding: 19px 25px;
  font-size: 18px;
  border-radius: 16px;
  border-width: 0;
}
.input-box{
  width: auto;
  height: 40px;
  border-radius: 16px;
  border-color: #495e57;
  border-width: 1px;
  padding: 12px;
  margin: 12px 0 12px 0;
}
.dark{
  background-color: #d9d9d9;
}
.nav-item.active{
  color: #f4ce14;
}
.nav-item:hover{
  color: #f4ce14;
  transition: 1s all;
  
}


/*--------------media query------*/

@media (max-width: 1228px){
  .container{
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 1060px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 886px){
  .btn{
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 10px;
  }
}

@media (max-width: 604px){
  .center-btn{
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    margin: 15px 0 25px 0;
    
    
    
  }
}